Source: ros-melodic-cob-gazebo-plugins
Section: misc
Priority: optional
Maintainer: Felix Messmer <fxm@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://ros.org/wiki/cob_gazebo_plugins
Standards-Version: 3.9.2

Package: ros-melodic-cob-gazebo-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-cob-gazebo-ros-control
Description: cob_gazebo_plugins meta-package
